/*  CollectionView.css
    Friday, 17 April, 2015
    Haus of Alexander
    Alexander Rhett Crammer  */

/* Site Blocks */
.site {
  background-color: #333;
  border: 5px solid #555;
  box-sizing: border-box;
  float: left;
  margin: 1.1299435028%;
  padding: 0.5649717514%;
  transition: transform 50ms;
  width: 30.961381662%;
}

/* Links */
.site a:first-of-type {
  color: #efefef;
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.25em;
  letter-spacing: 0.75px;
  margin-left: 12.5%;
  padding: 2.5% 0 5%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 125ms;
  width: 75%;
}

.site a:first-of-type h6 {
  transition: color 125ms;
}

.site:hover a, .site:hover a h6 {
  color: #ed53af;
}

.site:active a, .site:active a h6 {
  color: #ed3ba6;
}

.site h6 {
  /* Sub-header */
  color: #CCC;
  font-size: 0.8em;
  font-weight: 200;
  margin: -5% 0 0 -20%;
  width: 140%;
}

.site:active {
  transform: scale(0.955, 0.965);
}

/* Images */
.site img {
  margin-left: -2.069853413%;
  width: 104.13970683%; /* Prevent images from spilling */
}

/* Briefs */
.site p {
  color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Source Sans Pro", sans-serif;
  font-size: 0.2em;
  font-weight: 200;
  letter-spacing: 0.75px;
  line-height: 175%;
  margin-left: 5%;
  padding-bottom: 5%;
  text-align: center;
  width: 90%;
}

/* Fonts */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../Fonts/SourceSansPro-Regular.ttf");
}

/* Media Queries */
@media only screen
  and (max-width: 1024px) {
    /* 1024px and thinner */
    
    /* Site Blocks */
    .site {
      border-width: 5px;
      margin: 1.8733900554%;
      padding: 0;
      width: 46.253219889%;
    }
    
    .site img {
      margin: auto;
      width: 100%;
    }
    
    .site:nth-child(2n+1) {
      clear: both;
    }
  }

@media only screen
  and (min-width: 1024px) {
    /* 1024px and wider */
    
    /* Site Blocks */
    .site:nth-child(3n+1) {
      clear: both;
    }
  }

@media only screen
  and (max-width: 575px) {
    /* 575px and thinner */
    
    /* Site Blocks */
    .site {
      clear: none;
      width: 97.531816429%;
    }
  }