/*  Contact.css
    Tuesday, 30 June, 2015
    Haus of Alexander
    Alexander Rhett Crammer  */

/* Structure */
.container {
  color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 1em;
}

/* Content */
p {
  font-weight: 300;
  line-height: 135%;
  width: 50%;
}

/* Form */
form textarea {
  font-family: "Abigail";
  font-size 1.5em;
  height: 175px;
  margin: 4% 2.5%;
  padding: 1.5%;
  width: 40%;
}