/*  Main.css
    Friday, 17 April, 2015
    Haus of Alexander
    Alexander Rhett Crammer  */

/* Master Reset */
/*  This reset was found at http://meyerweb.com/eric/tools/css/reset/. It's version is 2.0, 20110126  */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Structure */
body {
  background-color: #1d1d1d;
}

.container {
  font-size: 5em;
  margin: 5% auto 5% auto;
  overflow: auto;
  width: 85%;
}

/* Links */
a {
  transition: color 100ms;
}

a:link {
  color: #f23da7;
  text-decoration: none;
}

a:visited {
  color: #f23da7;
  text-decoration: none;
}

a:hover {
  color: #ff73c5;
  text-decoration: none;
}

a:active {
  color: #d90b83;
  text-decoration: none;
}

/* Banner */
header.banner {
  color: #fff;
  font-family: "Jaapokki", "Helvetica Neue", "Helvetica";
  padding: 5% 0;
  text-align: center;
  text-transform: uppercase;
}

img[alt="Logo.png"] {
  width: 65%;
}

/* Footer */
footer {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", sans-serif;
  margin: auto;
  overflow: auto;
  padding: 2.5% 0 5%;
}

footer section {
  float: left;
  line-height: 135%;
  margin: 1.5991471215%;
  width: 19.669509595%;
}

footer section:first-of-type {
  padding-left: 2.6652452026%;
}

footer section:last-of-type {
  padding-right: 2.6652452026%;
}

footer h4 {
  color: #fff;
  font-size: 1.15em;
  font-weight: 300;
  margin-bottom: 10%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

footer p, footer a {
  color: #fafafa;
  font-weight: 500;
  padding: 2.5%;
}

img[alt="Self.png"] {
  /* Selfie */
  border-radius: 15%;
  width: 100%;
}

/* Other Stuff */
.black-radial {
  background: #262626; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMyNjI2MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  #262626 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#262626), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #262626 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #262626 0%,#000000 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #262626 0%,#000000 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #262626 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

/* Fonts */
@font-face {
  font-family: "Jaapokki";
  src: url("../Fonts/Jaapokki-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 300;
  src: url("../Fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  font-weight: 500;
  src: url("../Fonts/SourceSansPro-Regular.ttf");
}

/* Media Queries */
@media only screen
  and (min-width: 1024px) {
    /* 1024px and wider */
    
    /* Banner */
    img[alt="Logo.png"] {
      width: 667px;
    }
  }
  
@media only screen
  and (max-width: 575px) {
    /* 575px and thinner */
    
    /* Banner */
    img[alt="Logo.png"] {
      padding: 3.3707865169% 0;
      width: 75.280898876%;
    }
  }